---
---
/*
 * assets/main.scss
 * the dashed lines above are required
 */

$background-color: #1d1d1d;
$text-color: #e6e6e6;
$grey-color-light: #565656;
$grey-color-dark: #adadad;

div.content pre {
 background: #d42525;
 padding: 10px;
 color: rgb(20, 199, 29);
 overflow-x: auto;
 font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
 font-size: 12px;
 border: none;
}

@import "minima";

/* END OF MAIN.CSS */
